# bike-stats

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('assets/station.csv')

In [3]:
df2 = pd.read_csv('assets/trip.csv',warn_bad_lines=False ,error_bad_lines=False)

In [4]:
df3 = pd.read_csv('assets/weather.csv')

### 1- What is the average trip duration for a borrowed bicycle?

In [8]:
df2['tripduration'].mean()

1178.2956753399776

### 2- What’s the most common age of a bicycle-sharer?

In [26]:
most_age= 2021 - df2['birthyear'].mode()[0]
int(most_age)

34

### 3- Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [76]:
months=df3.groupby('Month')['Precipitation_In']
avg_months=months.mean()

In [75]:
avg_months

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [77]:
df3['Precipitation_In'].mean()

0.10506531204644412

### 4- What’s the average number of bikes at a given bike station?

In [49]:
df1.mean().install_dockcount

17.586206896551722

### 5- When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [52]:
df_modify = df1[['modification_date','install_dockcount','current_dockcount']].dropna()

In [53]:
df_modify

   modification_date  install_dockcount  current_dockcount
7          11/9/2015                 20                 18
10          8/9/2016                 16                  0
12         2/24/2015                 18                 20
17         2/24/2015                 28                 26
22         3/24/2015                 30                 24
23         3/27/2015                 12                 16
26         3/18/2016                 16                  0
31         2/24/2015                 18                 20
35         3/13/2015                 12                 20
37         2/23/2015                 18                 16
38         11/2/2015                 20                  0
39          3/4/2015                 12                 16
46        10/29/2015                 16                  0
47         2/20/2015                 12                 14
48         2/20/2015                 18                 16
49         2/20/2015                 12                 14
50         2/20/2015                 20                 14

In [56]:
sum_current_dockcount = df_modify['current_dockcount'].sum()
sum_install_dockcount = df_modify['install_dockcount'].sum()
new_current_dockcount-new_install_dockcount

-64

#### it's lose 64