# Data Analysis with Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./vgsales.csv')

In [3]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### 1- Which company is the most common video game publisher?

In [4]:
publisher_df = df['Publisher']

In [5]:
publisher_df.describe().top

'Electronic Arts'

### 2- Whatâ€™s the most common platform?

In [6]:
platform_df = df['Platform']

In [7]:
platform_df.describe().top

'DS'

### 3- What about the most common genre?

In [8]:
genre_df = df ['Genre']

In [9]:
genre_df.describe().top

'Action'

### 4-What are the top 20 highest grossing games?

In [10]:
glopal_df= df.head(20).groupby(['Rank','Name','Global_Sales'])

In [11]:
glopal_df.agg({'Rank':'max'})

                                                                Rank
Rank Name                                         Global_Sales
1    Wii Sports                                   82.74            1
2    Super Mario Bros.                            40.24            2
3    Mario Kart Wii                               35.82            3
4    Wii Sports Resort                            33.00            4
5    Pokemon Red/Pokemon Blue                     31.37            5
6    Tetris                                       30.26            6
7    New Super Mario Bros.                        30.01            7
8    Wii Play                                     29.02            8
9    New Super Mario Bros. Wii                    28.62            9
10   Duck Hunt                                    28.31           10
11   Nintendogs                                   24.76           11
12   Mario Kart DS                                23.42           12
13   Pokemon Gold/Pokemon Silver                  23.10           13
14   Wii Fit                                      22.72           14
15   Wii Fit Plus                                 22.00           15
16   Kinect Adventures!                           21.82           16
17   Grand Theft Auto V                           21.40           17
18   Grand Theft Auto: San Andreas                20.81           18
19   Super Mario World                            20.61           19
20   Brain Age: Train Your Brain in Minutes a Day 20.22           20

### 5-For North American video game sales, whatâ€™s the median?

In [12]:
df['NA_Sales'].median()

0.08

In [13]:
na_median_sales = df['NA_Sales']

median =na_median_sales.median()

df[(na_median_sales <= median+1) & (na_median_sales >= median-1)].head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
82,83,FIFA Soccer 13,PS3,2012.0,Action,Electronic Arts,1.06,5.05,0.13,2.01,8.24
83,84,The Sims 3,PC,2009.0,Simulation,Electronic Arts,0.98,6.42,0.00,0.71,8.11
112,113,FIFA 14,PS3,2013.0,Sports,Electronic Arts,0.78,4.32,0.07,1.73,6.90
121,122,FIFA 12,PS3,2011.0,Sports,Electronic Arts,0.84,4.32,0.11,1.42,6.69
124,125,FIFA 15,PS4,2014.0,Sports,Electronic Arts,0.79,4.29,0.05,1.47,6.59
137,138,World of Warcraft,PC,2004.0,Role-Playing,Activision,0.07,6.21,0.00,0.00,6.28
149,150,Dragon Quest IX: Sentinels of the Starry Skies,DS,2009.0,Role-Playing,Nintendo,0.66,0.69,4.35,0.15,5.84
161,162,Monster Hunter Freedom Unite,PSP,2008.0,Role-Playing,Capcom,0.47,0.57,4.13,0.34,5.50
180,181,Dragon Quest VIII: Journey of the Cursed King,PS2,2004.0,Role-Playing,Square Enix,0.65,0.75,3.61,0.20,5.21
185,186,FIFA Soccer 13,X360,2012.0,Action,Electronic Arts,1.08,3.48,0.03,0.58,5.18

### 6- For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [14]:
df_NA=df['NA_Sales']
mean_NA = df_NA.mean()
std_NA = df_NA.std()
max_NA = df_NA.max()
z = (max_NA - mean_NA)/std_NA
z

50.47898767479108

### 7-The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [15]:
wii =df[df['Platform']=='Wii']
other=df[df['Platform'] != 'Wii']
(other.mean().Global_Sales,wii.mean().Global_Sales)

(0.5233896418516336, 0.6994037735849057)

## 8- Come up with 3 more questions that can be answered with this data set.

- ### The top 10 Puzzle game in rank ?

In [26]:
pzzle = df[df['Genre']=='Puzzle'].head(10).Name
pzzle

5                                           Tetris
27     Brain Age 2: More Training in Minutes a Day
89                                         Pac-Man
155                                         Tetris
170                                      Dr. Mario
177       Professor Layton and the Curious Village
215                                      Dr. Mario
300        Professor Layton and the Diabolical Box
399        Professor Layton and the Unwound Future
488                             Pac-Man Collection
Name: Name, dtype: object

- ### what is the name for most sale game?

In [30]:
name=df[['Name']].max()
name.Name

'Â¡Shin Chan Flipa en colores!'

- ### How many games sold in NES platform in NA ?

In [36]:
NES =df[df['Platform']=='NES'].count()
NES.NA_Sales

98