# bike-stats

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('assets/station.csv')

In [3]:
df2 = pd.read_csv('assets/trip.csv',warn_bad_lines=False ,error_bad_lines=False)

In [4]:
df3 = pd.read_csv('assets/weather.csv')

### 1- What is the average trip duration for a borrowed bicycle?

In [5]:
df2['tripduration'].mean()

1178.2956753399776

### 2- What’s the most common age of a bicycle-sharer?

In [6]:
most_age= 2021 - df2['birthyear'].mode()[0]
int(most_age)

34

### 3- Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [7]:
month =pd.DatetimeIndex(df3['Date']).month
months=df3.groupby(month)["Precipitation_In"]

In [8]:
months.mean()

Date
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [9]:
months.median()

Date
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

### 4- What’s the average number of bikes at a given bike station?

In [10]:
df1.mean().install_dockcount

17.586206896551722

### 5- When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [11]:
df_modify = df1[['modification_date','install_dockcount','current_dockcount']].dropna()

In [12]:
df_modify

   modification_date  install_dockcount  current_dockcount
7          11/9/2015                 20                 18
10          8/9/2016                 16                  0
12         2/24/2015                 18                 20
17         2/24/2015                 28                 26
22         3/24/2015                 30                 24
23         3/27/2015                 12                 16
26         3/18/2016                 16                  0
31         2/24/2015                 18                 20
35         3/13/2015                 12                 20
37         2/23/2015                 18                 16
38         11/2/2015                 20                  0
39          3/4/2015                 12                 16
46        10/29/2015                 16                  0
47         2/20/2015                 12                 14
48         2/20/2015                 18                 16
49         2/20/2015                 12                 14
50         2/20/2015                 20                 14

In [13]:
sum_current_dockcount = df_modify['current_dockcount'].sum()
sum_install_dockcount = df_modify['install_dockcount'].sum()
sum_current_dockcount-sum_install_dockcount

-64

#### it's lose 64

### 6- Come up with 3 more questions that can be answered with this data set.

- #### what is the max temperature ?

In [14]:
df3.max().Max_Temperature_F

98

- #### what is the maximum place that installs dock count?

In [25]:
df1.max()

station_id                            WF-04
name                 Westlake Ave & 6th Ave
lat                               47.666145
long                            -122.284119
install_date                      9/15/2015
install_dockcount                        30
current_dockcount                        26
dtype: object

In [26]:
df1.max().name

- ### when was the min start time ?

In [30]:
df2['starttime'].min()

'1/1/2015 0:24'